NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api

NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

NEXT_PUBLIC_BEEFREE_EMAIL_CLIENT_ID=
NEXT_PUBLIC_BEEFREE_EMAIL_SECRET_KEY=

NEXT_PUBLIC_BEEFREE_PAGE_CLIENT_ID=
NEXT_PUBLIC_BEEFREE_PAGE_SECRET_KEY=

NEXT_PUBLIC_BEEFREE_POP_UP_CLIENT_ID=
NEXT_PUBLIC_BEEFREE_POP_UP_SECRET_KEY=

NEXT_PUBLIC_BEEFREE_FILE_MANAGER_CLIENT_ID=
NEXT_PUBLIC_BEEFREE_FILE_MANAGER_SECRET_KEY=
